.label-bottom, .label-top, .centered-label {
  position: absolute;

  width: 100%;
  padding: 0.6rem;

  color: #fff;
  text-align: center;
  font-weight: bold;

  pointer-events: none;
  user-select: none;
}

.label-top, .label-bottom, .centered-label {
  user-select: none;
  word-wrap: break-word;
}

.label-top {
  top: 0;
}

.label-bottom {
  bottom: 0;
}

.centered-label {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.basis {
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  margin: 0.5rem;
  border: 0.5rem solid #888;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
